# Gemini API Keys
GEMINI_API_KEY=

# App Configuration
APP_URL=
NODE_ENV=development
ADMIN_PASSWORD=Hostiva@2026#Secure!$Admin
ADMIN_PASSWORD_HASH=

# Discord Notifications
DISCORD_WEBHOOK_URL=
VITE_DISCORD_INVITE=https://discord.gg/SkCuzpE53Q
